<div class="wrapper">
    <H3>Rent</H3>
    <div class="container">
        <form class="form-container" (ngSubmit)="getForm(userForm)" #userForm="ngForm">
            <div>
                <label for="startDate">Start Date</label>
                <input class="input" type="date" name="startDate" id="startDate" ngModel required #startDate="ngModel">
                <div *ngIf="startDate.invalid && startDate.touched" style="color:red">
                    Start date is required!
                </div>
            </div>
            <div>
                <label for="endDate">End Date</label>
                <input class="input" type="date" name="endDate" id="endDate" ngModel required minlength="4" #passWord="ngModel">
                <div *ngIf="startDate.invalid && startDate.touched" style="color:red">
                    Start date is required!
                </div>
            </div>
            <div>
                <button class="button" type="submit" [disabled]="userForm.invalid">Edit</button>
            </div>
        </form>
    </div>
</div>

